<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Webpack Teamplate Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./bundle.js"></script>
</head>
<body>
    <div ng-app="appMain">
        <!-- Loading... {{2+2}}
        <simple-component version="v0.0.0"/> -->
        <colored-lighter switchedOn="true" color="red"></colored-lighter>
        <colored-lighter switchedOn="false" color="yellow"></colored-lighter>
        <colored-lighter switchedOn="true" color="green"></colored-lighter>
    </div>
</body>
</html>