<div class="lighter lighter__{{color}} lighter__{{switchedOn?'on':'off'}}">
    <svg width="60px" height="60px">
        <title>SVG Component v.{{version}}</title>
        <rect x="0" y="0" width="60" height="60" fill="blue" stroke="black" stroke-width="3" />
        <circle cx="30" cy="30" r="30" fill="{{switchedOn?color:'grey'}}" stroke="black" stroke-width="2" />
        <g visibility="{{switchedOn?'color':'grey'}}">
            <circle cx="30" cy="30" r="30" fill="{{switchedOn?color:'grey'}}" stroke="black" stroke-width="2" />
        </g>
    </svg>
</div>