.lighter {
    padding: 4px 0px 0px 0px;
    margin: 0px;

    border-color: gray;
    border-style: solid;
    border-radius: 10em;
    text-align:center;

    color: aqua;

    &.lighter__on {
        &.lighter__red {
            border-color:red;
        }
        &.lighter__yellow {
            border-color:#fbff00;
        }
        &.lighter__green {
            border-color:green;
        }
    }
    &.lighter__off {
        border-color:black;
        color: grey;
    }
}