<div class="grid">
    {{gridState}} {{gridState[0].length}} {{gridState.length}}
    <hr/>
    <div class="row" ng-repeat="row in gridState">
        <cell-component ng-repeat="cell in row track by $index" state={{cell}}></cell-component>
    </div>
</div>