<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="ngApp" ng-cloak>
    {{2+2}}
    <chip-picker></chip-picker>
    <script src="./bundle.js"></script>

</body>
</html>