<div class="cell">
    <svg width="100%" height="100%" viewBox="0 0 100 100">
        <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="{{state==1?'yellow':'red'}}" />
    </svg>
</div>