<div class="chip-picker">
    ChipPicker {{chipPickerCtrl.chipIndex}} {{chipPickerCtrl.getChipValue()}} {{chipPickerCtrl.getChipColor()}}
    <hr/>
    <div ng-repeat="chip in chipPickerCtrl.chips" ng-click="chipPickerCtrl.onClickHandler($index)">
        <div class="chip css-filter-shadow" ng-class="{selected:chip.active}">
            <svg width="100%" height="100%" viewBox="{{chip.active?'-48 -48 96 96':'-50 -50 100 100'}}">
                <defs>
                    <filter id="shadow">
                        <feDropShadow dx="0" dy="0" color stdDeviation="2" />
                    </filter>
                </defs>
                <g id="chip">
                    <circle cx="0" cy="0" r="40" stroke="black" stroke-width="3" fill="{{chip.color}}" />
                </g>
                <text style="fill:blue; filter:url(#shadow);" x="0" y="0" font-size="40px" text-anchor="middle" stroke="black" stroke-width="1px" dy=".3em">{{chip.value}}</text>
            </svg>
        </div>
    </div>
</div>