.chip-picker {
    display: inline;
    color: black;
    max-height: 1em;
    //overflow:hidden;
}

.chip {
    padding: 0em;
    width: 5em;
    height: 5em;
    text-align: center;
    &.css-filter-shadow {
        &.selected {
            filter: drop-shadow(0px 0px 2px black);
        }

    }
}