.game-table {
    color: blueviolet;
}

table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    display: table-cell;
 }
 
 table tr:nth-child(odd) {
    background-color: #f2f2f2;
 }

 table tr:nth-child(even) {
    background-color: #ffffff;
 }