<div class="table">
    <div class="table-header">{{greeting}} {{winner}}</div>
    <div class="table-container">
        <div class="table-row">
            <table>
                <tr ng-repeat="row in tableState">
                    <td ng-repeat="cell in row.values track by $index">
                        <cell value="{{cell}}" row="{{row.index}}" col="{{$index}}" ></cell>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <game-controller></game-controller>
</div>