<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./bundle.js"></script>
</head>

<body ng-app="ngApp">
    <div ng-controller="headerCtrl">
        <header title="naomi" text-value="aqwe" title-info="{{title}} {{reverseName()}}">Abra</header>
    </div>
</body>

</html>