<div class="svg-container first">
    <svg width="240px" height="240px">
        <title>SVG Component v.{{version}}</title>
        <rect x="20" y="20" width="100" height="280" fill="blue" stroke="black" stroke-width="3" />
        <circle cx="{{ctrl.getLeft()}}" cy="{{position.top}}" r="30" fill="red" stroke="black" stroke-width="2" />
        <circle cx="70" cy="160" r="30" fill="yellow" stroke="black" stroke-width="2" />
        <circle cx="70" cy="240" r="30" fill="#40CC40" stroke="black" stroke-width="2" />
    </svg>
</div>