body {
    background-color: aqua
}

.first {
    .svg-container {
        transform: translate(0px, 0px);
    }
}
.second {
    .svg-container {
        transform: translate(100px, 110px);
    }
}
.third {
    .svg-container {
        opacity: 0.5;
        transform: translate(200px, 330px);
    }
}

.svg-container {
    opacity: 0.9;
    position: absolute;
    display: inline;
    // left: 100px;
    // top:300px;
    outline-style: dotted;
    transform: translate(50px, 100px);
}