<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Webpack Teamplate Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./bundle.js"></script>
</head>

<body>
    <div ng-app="appMain">
        <!-- Loading... {{2+2}}
        <simple-component version="v0.0.0" /> -->
        <svg-component class="first" version="0.0.1"></svg-component>
        <simple-component version="123123"></simple-component>
        <svg-component id="svg2" class="second" version="0.1.1"></svg-component>
        <simple-component version="1"></simple-component>
        <svg-component class="third" version="0.2.1"></svg-component>
        <simple-component version="2"></simple-component>
    </div>
</body>

</html>